@model Location

@{
    ViewData["Title"] = "Редактирование места расположения";
    const string modelName = "Locations";
}

<div class="modal-header">
    <h5 class="modal-title" id="modalLabel">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
</div>

<div class="modal-body">
    <form method="post" asp-action="SaveItem" asp-controller="@modelName">
        <div class="mb-2">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="mb-2">
            <label class="form-label" asp-for="Address"></label>
            <input class="form-control" asp-for="Address"/>
            <span asp-validation-for="Address"></span>
        </div>
        
        <div class="mb-2">
            <label class="form-label" asp-for="Capacity"></label>
            <input class="form-control" asp-for="Capacity"/>
            <span asp-validation-for="Capacity"></span>
        </div>
        
        <div class="mb-2">
            <label class="form-label" asp-for="Description"></label>
            <textarea class="form-control" rows="4" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
</div>