@{
    ViewData["Title"] = "Места расположения";
}

<h1>@ViewData["Title"]</h1>

<table id="locations_table" class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Город</th>
        <th>Адрес</th>
        <th>Тип</th>
        <th>Вместимость</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    async function fetchData() {
        const response = await fetch('/Locations/GetLocations');
        return response.json();
    }

    async function loadTable() {
        try {
            const data = await fetchData();
            const tableBody = document.querySelector('#locations_table tbody');
            for (let item of data) {
                const row = tableBody.insertRow();
                row.insertCell().textContent = item.name;
                row.insertCell().textContent = item.city.name;
                row.insertCell().textContent = item.address;
                row.insertCell().textContent = item.type.name;
                row.insertCell().textContent = item.capacity;
            }
        } catch (error) {
            console.error(error);
        }
    }

    loadTable();
</script>