@model Seat

@{
    ViewData["Title"] = (ViewBag.Edit ? "Редактирование" : "Создание") + " посадочного места";
    const string controllerName = "Seats";
}

<div class="modal-header">
    <h5 class="modal-title" id="modalLabel">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
</div>

<div class="modal-body">
    <div id="formAlert" class="alert alert-danger" role="alert" style="display: none;">[TextContent]</div>
    @using (Html.BeginForm("SaveItem", controllerName, FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.Hidden("Id", Model.Id)
        
        <div class="mb-3">
            <label class="form-label" asp-for="SportEventId"></label>
            @Html.DropDownListFor(
                    item => item.SportEventId,
                    new SelectList(ViewBag.SportEvents, "Id", ""),
                    new { @class = "form-select" })
            <span class="text-danger" asp-validation-for="SportEventId"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name"/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="PriceString"></label>
            <input class="form-control" asp-for="PriceString"/>
            <span class="text-danger" asp-validation-for="PriceString"></span>
        </div>

        <div class="mb-3">
            <label class="form-check-label" asp-for="IsOccupied">Занято </label>
            <input class="form-check-input" type="checkbox" asp-for="IsOccupied"/>
            <span class="text-danger" asp-validation-for="IsOccupied"></span>
        </div>

        <div class="modal-footer">
            <div class="col-sm-2">
                <button class="btn btn-secondary w-100" type="button" data-bs-dismiss="modal">Закрыть</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary w-100" type="submit">Сохранить</button>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_ValidationScriptsPartial");

<script>
    $(document).ready(function () {
        $.validator.methods.range = function (value, element, param) {
            let globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }
        
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        
        $('#PriceString').inputmask({
            alias: 'numeric',
            integerDigits: 6,  // 6 цифр для целой части числа
            digits: 2,        // 2 цифры для десятичной части числа
            radixPoint: ',',  // разделитель десятичной части
            rightAlign: false // выравнивание влево
        });
        
        $('form').submit(function (event) {
            event.preventDefault();
            checkUnique('@controllerName', ['IsOccupied']);
        });
    });
</script>