@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте, пользователь!</h1>
    <p>Это приложение позволит Вам организовать спортивное мероприятие.</p>
</div>