@model string

<div class="row justify-content-between">
    <div class="row mt-4 mb-3 g-sm-2 col-sm-4">
        <div class="col-sm">
            <button class="btn btn-primary w-100" type="button" onclick="createItem('@Model')">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Создание
            </button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary w-100" type="button"
                    onclick="location.href='@Url.Action("ExportToExcel", Model)'">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Экспорт
            </button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary w-100" type="button" onclick="refreshCache('@Model')">
                <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp; Обновить
            </button>
        </div>
    </div>

    <div class="row mt-4 mb-3 g-sm-2 col-sm-5">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Поиск" oninput="filterTable()">
            <button id="clearButton" class="btn btn-outline-secondary" type="button" onclick="clearInputFilter()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>